---
import { Section } from 'astro-boilerplate-components';

import Base from '@/templates/Base.astro';
---

<Base
  head={{
    title: 'Mi Curr铆culum Vitae',
    description: 'Curr铆culum of Mateo Rico Iglesias',
  }}
>
  <Section>
    <div class='mx-auto max-w-4xl rounded-lg bg-gray-900 p-6 shadow-lg'>
      <h1 class='mb-4 text-center text-3xl font-bold text-white'>
        Curr铆culum Vitae
      </h1>
      <h2 class='text-red text-3x1 text-center font-bold text-red-600'>
        HOW DID YOU GET HERE??? え STILL WORK IN PROGRESS, CHECK OUT LATER 
      </h2>

      <!-- Informaci贸n Personal -->
      <section class='mb-8'>
        <h2 class='text-2xl font-bold text-gray-300'>Informaci贸n Personal</h2>
        <p class='text-gray-400'>Mateo Rico Iglesias</p>
        <p class='text-gray-400'>Ingeniero en Inform谩tica</p>
        <p class='text-gray-400'>mateorico@example.com</p>
      </section>

      <!-- Educaci贸n -->
      <section class='mb-8'>
        <h2 class='text-2xl font-bold text-gray-300'>Educaci贸n</h2>
        <div class='border-l-2 border-blue-500 pl-4'>
          <p class='font-semibold text-gray-400'>
            Grado en Ingenier铆a Inform谩tica del Software
          </p>
          <p class='text-sm text-gray-500'>
            Universidad de Oviedo, XXXX - XXXX
          </p>
        </div>
        <div class='mt-4 border-l-2 border-blue-500 pl-4'>
          <p class='font-semibold text-gray-400'>
            Grado Profesional en Educaci贸n Musical
          </p>
          <p class='text-sm text-gray-500'>Conservatorio COAS, XXXX - XXXX</p>
        </div>
      </section>

      <!-- Experiencia Laboral -->
      <section class='mb-8'>
        <h2 class='text-2xl font-bold text-gray-300'>Work Experience</h2>
        <div class='border-l-2 border-blue-500 pl-4'>
          <p class='font-semibold text-gray-400'>Nombre del Puesto</p>
          <p class='text-gray-500'>Empresa X, XXXX - Actualidad</p>
          <p class='mt-2 text-gray-300'>
            Descripci贸n de responsabilidades y logros en este puesto.
          </p>
        </div>
      </section>

      <!-- Habilidades -->
      <section class='mb-8'>
        <h2 class='text-2xl font-bold text-gray-300'>Skills</h2>
        <ul class='list-inside list-disc text-gray-300'>
          <li>XXXX</li>
          <li>XXXX</li>
          <li>XXXX</li>
        </ul>
      </section>

      <!-- Proyectos -->
      <section>
        <h2 class='text-2xl font-bold text-gray-300'>Proyectos</h2>
        <div class='border-l-2 border-blue-500 pl-4'>
          <p class='font-semibold text-gray-400'>Proyecto 1</p>
          <p class='text-sm text-gray-500'>Breve descripci贸n del proyecto</p>
        </div>
        <div class='mt-4 border-l-2 border-blue-500 pl-4'>
          <p class='font-semibold text-gray-400'>Proyecto 2</p>
          <p class='text-sm text-gray-500'>Breve descripci贸n del proyecto</p>
        </div>
      </section>
    </div>
  </Section>
</Base>
